
.header{
  display:flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items{
  padding: 0px 20px;
}

.nav-items>ul{
  font-size: 20px;
  display: flex;
  list-style-type: none;

}
img{
  width: 100px;
}
.nav-items>ul>li{
  padding: 10px;
  margin: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card{
  width: 200px;
  height: 400px;
  margin: 10px;
  
}
.res-card:hover{
  cursor: pointer;
  border: 1px solid black;


}
.search{
padding: 10px;
}
.restro-logo{
   width: 150px;
}
.filter-btn{
  margin: 10px;
  cursor: pointer;
  
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  height:20px;
  width:400px;
  background-color:gray;
  margin: 20px;
}
.btnName{
  cursor:pointer;
  width: 60px;
}
.filter{
  display: flex;
  margin: 12px 0px;
}
.search{
  height: 1px;

}